.edit-container {
  padding: 0;
  margin: 0%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.edit-heading {
  font-size: 38px;
  font-weight: 700;
  margin-top: 50px;
}
.edit-form {
  margin-top: 100px;
  width: 50%;
  max-height: 70%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.edit-input-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 50px;
}
.edit-input-label {
  margin-bottom: 5px;
  font-size: 17px;
  font-weight: 700;
}
.edit-input {
  width: 100%;
  height: 20px;
  outline: none;
  border: 2px solid grey;
  border-radius: 5px;
  padding: 5px;
}
.edit-save-btn {
  margin-top: 65px;
  font-size: 18px;
  font-weight: 700;
  border: 2px solid grey;
  border-radius: 5px;
  width: 33%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s linear;
  cursor: pointer;
}
.edit-save-btn:hover {
  background-color: grey;
  color: white;
}
